<div
  class="flex flex-col gap-3 items-center justify-center min-h-[300px] max-w-md mx-auto p-6"
>
  <h5 class="mb-2">Reset Password</h5>
  <hr class="w-full" />
  <form
    class="flex flex-col gap-4 w-full"
    [formGroup]="resetForm"
    (ngSubmit)="onSubmit()"
  >
    <app-input-group
      id="email"
      name="email"
      label="Email"
      placeholder="example@mail.com"
      type="email"
      [variant]="emailVariant"
      formControlName="email"
      [hint]="resetForm.get('email')?.errors?.['email']"
      [disabled]="step === 2"
    >
      <fa-icon
        class="{{ emailVariant }}"
        data-select="input-group-input-left-icon"
        [icon]="faMailIcon"
      ></fa-icon>
    </app-input-group>

    @if (step === 1) {

    <app-button
      type="button"
      (click)="requestOtp()"
      [disabled]="resetForm.get('email')?.invalid || requestingOtp"
    >
      <span data-select="button-content">{{
        requestingOtp ? "Sending ..." : "Request OTP"
      }}</span>
    </app-button>

    } @else if (step === 2) {

    <hr />
    <div class="my-3 flex flex-col gap-4">
      <label class="text-base font-medium"
        >Enter the 6-digit OTP sent to your email:</label
      >
      <div class="flex gap-2 w-full">
        @for (i of [0, 1, 2, 3, 4, 5]; track i) {
        <input
          id="otp{{ i }}"
          name="otp{{ i }}"
          type="text"
          maxlength="1"
          pattern="[0-9]"
          inputmode="numeric"
          autocomplete="one-time-code"
          class="w-12 h-12 text-center text-lg border border-primary-dark rounded focus:outline-none focus:ring-2 focus:ring-primary-dark"
          [(ngModel)]="otpDigits[i]"
          [ngModelOptions]="{ standalone: true }"
          (input)="onOtpInput($event, i)"
          (keydown)="onOtpKeydown($event, i)"
          (paste)="onOtpPaste($event)"
          required
        />
        }
      </div>
    </div>

    <hr />

    <app-input-group
      id="password"
      name="password"
      label="New Password"
      placeholder=""
      [type]="passwordType"
      [variant]="passwordVariant"
      formControlName="password"
      [hint]="resetForm.get('password')?.errors?.['password']"
    >
      <fa-icon
        class="{{ passwordVariant }}"
        data-select="input-group-input-left-icon"
        [icon]="faLockIcon"
      ></fa-icon>
      <fa-icon
        data-select="input-group-input-right-icon"
        class="{{ passwordVariant }} cursor-pointer"
        [icon]="faEyeIcon"
        (click)="
          passwordType = passwordType === 'password' ? 'text' : 'password';
          faEyeIcon = passwordType === 'password' ? faEye : faEyeSlash
        "
      ></fa-icon>
    </app-input-group>
    <app-input-group
      id="confirmPassword"
      name="confirmPassword"
      placeholder=""
      label="Confirm Password"
      [type]="confirmPasswordType"
      [variant]="confirmPasswordVariant"
      formControlName="confirmPassword"
      [hint]="resetForm.get('confirmPassword')?.errors?.['confirmPassword']"
    >
      <fa-icon
        data-select="input-group-input-left-icon"
        [icon]="faLockIcon"
      ></fa-icon>
      <fa-icon
        data-select="input-group-input-right-icon"
        class="cursor-pointer"
        [icon]="faConfirmEyeIcon"
        (click)="
          confirmPasswordType =
            confirmPasswordType === 'password' ? 'text' : 'password';
          faConfirmEyeIcon =
            confirmPasswordType === 'password' ? faEye : faEyeSlash
        "
      ></fa-icon>
    </app-input-group>
    <app-button type="submit" [disabled]="!canSubmit || submitting">
      <span data-select="button-content">{{
        submitting ? "Submitting..." : "Reset Password"
      }}</span>
    </app-button>
    } @if (error) {
    <div class="text-red-600 mt-2">{{ error }}</div>
    }
  </form>
</div>
