button {
  @apply w-full outline-none px-4 py-3 rounded text-white cursor-pointer flex items-center justify-center;
}

button.pill {
  @apply rounded-full;
}

button.icon {
  @apply w-10 h-10 p-0;
}

button.small {
  @apply px-3 py-1 text-sm;
}

button.icon.small {
  @apply w-8 h-8;
}

button.icon.large {
  @apply w-12 h-12;
}

button.primary,
button.primary.outline:hover:not([disabled]) {
  @apply bg-primary-dark;
}

button.secondary,
button.secondary.outline:hover:not([disabled]) {
  @apply bg-secondary;
}

button.success,
button.success.outline:hover:not([disabled]) {
  @apply bg-success;
}

button.danger,
button.danger.outline:hover:not([disabled]) {
  @apply bg-danger;
}

button:hover:not([disabled]) {
  @apply text-white;
}

button:active,
button:disabled {
  @apply opacity-80;
}

button.primary:hover:not([disabled]) {
  @apply outline-primary-dark;
}

button.secondary:hover:not([disabled]) {
  @apply outline-secondary;
}

button.success:hover:not([disabled]) {
  @apply outline-success;
}

button.danger:hover:not([disabled]) {
  @apply outline-danger;
}

button.outline {
  @apply bg-white border-2;
}

button.primary.outline {
  @apply border-primary-dark text-primary-dark;
}

button.secondary.outline {
  @apply border-secondary text-secondary;
}

button.success.outline {
  @apply border-success text-success;
}

button.danger.outline {
  @apply border-danger text-danger;
}

button.outline:hover:not([disabled]) {
  @apply text-white outline-none;
}

.tooltip-primary {
  @apply text-primary-dark;
}

.tooltip-secondary {
  @apply text-secondary;
}

.tooltip-success {
  @apply text-success;
}

.tooltip-danger {
  @apply text-danger;
}
