<form
  class="flex flex-col gap-4 container bg-white p-4 w-80 min-h-96 mx-auto"
  [formGroup]="loginForm"
  (ngSubmit)="onLoginFormSubmit()"
>
  <h5 class="text-center">Welcome Back!</h5>
  <div
    class="flex flex-col pt-6 gap-2 justify-center border-t border-primary-dark-50"
  >
    @for(loginOption of ssoLoginOptions; track loginOption.type){
    <app-button
      classes="pill outline"
      (click)="loginOption.action()"
      [disabled]="loginLoading()"
    >
      <p
        data-select="button-content"
        class="flex gap-12 justify-start items-center w-full"
      >
        <fa-icon [icon]="loginOption.icon" data-select="button-content" />
        <span>{{ loginOption.label }}</span>
      </p>
    </app-button>
    }
  </div>

  <div class="flex justify-center gap-1 items-center my-2">
    <span class="border-b border-primary-dark-50 w-full"></span>
    <span class="mb-1">OR</span>
    <span class="border-b border-primary-dark-50 w-full"></span>
  </div>

  <app-input-group
    id="email"
    name="email"
    label="Email"
    placeholder="example@mail.com"
    type="email"
    hint="{{ loginForm.get('email')?.errors?.['email'] }}"
    [variant]="emailVariant"
    formControlName="email"
  >
    <fa-icon
      class="{{ emailVariant }}"
      data-select="input-group-input-left-icon"
      [icon]="faMailIcon"
    ></fa-icon>
  </app-input-group>

  <app-input-group
    id="password"
    name="password"
    label="Password"
    placeholder=""
    hint="{{ loginForm.get('password')?.errors?.['password'] }}"
    [type]="passwordType"
    [variant]="passwordVariant"
    formControlName="password"
  >
    <fa-icon
      data-select="input-group-input-left-icon"
      class="{{ passwordVariant }}"
      [icon]="faLockIcon"
    ></fa-icon>
    <fa-icon
      data-select="input-group-input-right-icon"
      class="{{ passwordVariant }} cursor-pointer"
      [icon]="faEyeIcon"
      (click)="handleShowHidePassword()"
    ></fa-icon>
  </app-input-group>

  <app-button type="submit" [disabled]="loginForm.invalid || loginLoading()">
    <div data-select="button-content" class="flex gap-2">
      @if(loginLoading()){
      <fa-icon [icon]="faLoading" [classes]="['animate-spin']"></fa-icon>
      }
      <span data-select="button-content">Sign in with Password</span>
    </div>
  </app-button>

  <div
    class="flex justify-between gap-2 border-t border-t-primary-dark-50 mt-3 pt-4"
  >
    <a class="text-right w-max" href="/register">Create Account</a>
    <a class="text-right w-max" href="/reset-password">Forgot Password</a>
  </div>
</form>

<!-- Magic Login Dialog -->
<dialog #magicLoginDialog>
  <form
    [formGroup]="magicLoginForm"
    (ngSubmit)="onMagicLoginFormSubmit()"
    class="flex flex-col gap-2"
  >
    <p class="mb-3">
      If you have verified your email address, we'll send a magic link to your
      inbox.
    </p>
    <app-input-group
      id="magic-login-email"
      name="email"
      label="Your Email"
      placeholder="example@mail.com"
      type="email"
      hint="{{ magicLoginForm.get('email')?.errors?.['email'] }}"
      [variant]="emailVariant"
      formControlName="email"
    >
      <fa-icon
        class="{{ emailVariant }}"
        data-select="input-group-input-left-icon"
        [icon]="faMailIcon"
      ></fa-icon>
    </app-input-group>
    <div class="mt-4 flex gap-2 justify-between">
      <div class="w-full flex flex-col">
        <app-button
          variant="danger"
          (click)="closeMagicLoginDialog()"
          type="button"
          [disabled]="loginLoading()"
        >
          <span data-select="button-content">Cancel</span>
        </app-button>
      </div>
      <div class="w-full flex flex-col">
        <app-button
          type="submit"
          [disabled]="magicLoginForm.invalid || loginLoading()"
        >
          <div
            class="flex gap-4 w-max items-center"
            data-select="button-content"
          >
            <span>Continue</span>
            @if(loginLoading()){
            <fa-icon [icon]="faLoading" [classes]="['animate-spin']"></fa-icon>
            }@else {
            <fa-icon [icon]="faNextIcon"></fa-icon>
            }
          </div>
        </app-button>
      </div>
    </div>
  </form>
</dialog>
