<form
  class="flex flex-col gap-4 p-4 bg-white rounded-sm w-80 min-h-96"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h5 class="text-center">Login</h5>
  <div class="flex pt-6 gap-2 justify-center border-t border-primary-dark/50">
    <app-button classes="small pill icon outline">
      <fa-icon [icon]="faGoogleIcon" data-select="button-content" />
    </app-button>
    <app-button classes="small pill icon outline">
      <fa-icon [icon]="faFacebookIcon" data-select="button-content" />
    </app-button>
    <app-button classes="small pill icon outline">
      <fa-icon [icon]="faMailIcon" data-select="button-content" />
    </app-button>
  </div>

  <div class="flex justify-center gap-1 items-center">
    <span class="border-b border-primary-dark/50 w-full"></span>
    <span class="mb-1">OR</span>
    <span class="border-b border-primary-dark/50 w-full"></span>
  </div>

  <app-input-group
    id="email"
    name="email"
    label="Email"
    placeholder="example@mail.com"
    type="email"
    hint="{{ loginForm.get('email')?.errors?.['email'] }}"
    [variant]="emailVariant"
    formControlName="email"
  >
    <fa-icon
      class="{{ emailVariant }}"
      data-select="input-group-input-left-icon"
      [icon]="faMailIcon"
    ></fa-icon>
  </app-input-group>

  <app-input-group
    id="password"
    name="password"
    label="Password"
    placeholder=""
    hint="{{ loginForm.get('password')?.errors?.['password'] }}"
    [type]="passwordType"
    [variant]="passwordVariant"
    formControlName="password"
  >
    <fa-icon
      data-select="input-group-input-left-icon"
      class="{{ passwordVariant }}"
      [icon]="faLockIcon"
    ></fa-icon>
    <fa-icon
      data-select="input-group-input-right-icon"
      class="{{ passwordVariant }} cursor-pointer"
      [icon]="faEyeIcon"
      (click)="handleShowHidePassword()"
    ></fa-icon>
  </app-input-group>

  <div class="flex flex-col gap-8">
    <div class="flex justify-between">
      <a class="text-right w-max">Create Account</a>
      <a class="text-right w-max">Forgot Password</a>
    </div>
    <app-button type="submit" [disabled]="loginForm.invalid || loginLoading">
      <div data-select="button-content" class="flex gap-2">
        @if(loginLoading){
        <fa-icon [icon]="faLoading" [classes]="['animate-spin']"></fa-icon>
        }
        <span data-select="button-content">Login</span>
      </div>
    </app-button>
  </div>
</form>
