<!-- Blog Editor UI -->
<div class="blog-editor max-w-[500px] lg:max-w-screen-md mx-auto">
  <!-- Top Block: Status, Title, Description, Tags -->
  <div class="editor-meta-block mb-6 w-full flex flex-col gap-2">
    <div
      class="flex justify-between flex-col md:flex-row gap-2 items-end md:items-start mb-2"
    >
      <div class="flex gap-2 w-full">
        <div class="w-full">
          @if(currentEditing === titleId){
          <app-input-group
            [(ngModel)]="title"
            name="title"
            [id]="titleId"
            placeholder="Title"
            variant="primary"
            type="textarea"
            class="text-xl md:text-3xl font-semibold font-heading"
          ></app-input-group>
          }@else{
          <h3 (click)="setEditing(titleId)" class="cursor-pointer">
            {{ title.trim().length > 0 ? title.trim() : "Title" }}
          </h3>
          }
        </div>
        @if(currentEditing === titleId){
        <app-button classes="icon outline pill small" (click)="setEditing('')">
          <fa-icon [icon]="faOk" data-select="button-content"></fa-icon>
        </app-button>
        }
      </div>
      <span class="blog-status-badge badge {{ status }}"
        ><fa-icon [icon]="statusIcon" />{{ status }}</span
      >
    </div>

    <div class="flex gap-2">
      <div class="w-full text-gray">
        @if(currentEditing === descriptionId){
        <app-input-group
          [(ngModel)]="description"
          name="description"
          placeholder="Description"
          variant="primary"
          type="textarea"
          [id]="descriptionId"
          class="text-xl font-heading"
        ></app-input-group>
        }@else{
        <h5 (click)="setEditing(descriptionId)" class="cursor-pointer">
          {{
            description.trim().length > 0 ? description.trim() : "Description"
          }}
        </h5>
        }
      </div>
      @if(currentEditing === descriptionId){
      <app-button classes="icon outline pill small" (click)="setEditing('')">
        <fa-icon [icon]="faOk" data-select="button-content"></fa-icon>
      </app-button>
      }
    </div>

    <!-- Author, Published Time and Reading Time -->
    <div
      class="flex justify-between text-sm items-center gap-2 mt-4 mb-2 w-full"
    >
      <span class="text-gray"
        >Published By {{ author || userService.user()?.displayName }} on
        {{ publishedDate }}</span
      >
      <app-button
        (click)="public = !public"
        [disabled]="false"
        [classes]="'outline pill small'"
        ><span data-select="button-content" class="flex gap-2">
          <fa-icon [icon]="public ? faPublic : faPrivate" />
          Visible to {{ public ? "Everyone" : "Followers" }}
        </span>
        >
      </app-button>
    </div>

    <div class="flex gap-2 my-4">
      <div class="w-full">
        @if(currentEditing === headerImageId){
        <app-image-input
          [defaultImageUrl]="headerImageUrl"
          name="headerImage"
          [id]="headerImageId"
          [onImageChange]="handleHeaderImageChange"
          [video]="true"
        ></app-image-input>
        }@else{ @if(headerImageUrl){
        <img
          class="object-cover aspect-video cursor-pointer rounded"
          [src]="headerImageUrl"
          [alt]="title"
          (click)="setEditing(headerImageId)"
        />
        }@else {
        <span
          (click)="setEditing(headerImageId)"
          class="cursor-pointer text-gray flex gap-2"
        >
          <fa-icon [icon]="faAdd" class="text-gray"></fa-icon>Add Header
          Image</span
        >
        }}
      </div>
      @if(currentEditing === headerImageId){
      <app-button classes="icon outline pill small" (click)="setEditing('')">
        <fa-icon [icon]="faOk" data-select="button-content"></fa-icon>
      </app-button>
      }
    </div>

    <div class="flex gap-2">
      <div class="w-full">
        @if(currentEditing === tagsId){
        <app-select-input
          [placeholder]="'Add tags'"
          [multiple]="true"
          [loadOptions]="loadTagOptions.bind(this)"
          labelKey="name"
          [id]="tagsId"
          valueKey="id"
          [(selected)]="tags"
        ></app-select-input>
        }@else{ @if(tags.length === 0){
        <span
          (click)="setEditing(tagsId)"
          class="cursor-pointer text-gray flex gap-2"
          ><fa-icon [icon]="faAdd" class="text-gray"></fa-icon>Add Tags</span
        >}@else{
        <div class="select-selected">
          @for (t of tags; track $index) {
          <span
            class="select-selected-item cursor-pointer"
            (click)="setEditing(tagsId)"
          >
            {{ t.label }}
          </span>
          }
        </div>
        } }
      </div>
      @if(currentEditing === tagsId){
      <app-button classes="icon outline pill small" (click)="setEditing('')">
        <fa-icon
          [icon]="faOk"
          data-select="button-content"
        ></fa-icon> </app-button
      >}
    </div>
  </div>

  <!-- Editor Content Blocks -->
  <div class="editor-blocks my-4 flex flex-col gap-2">
    @if(blocks.length==0){
    <div class="text-center text-gray">Start by adding some elements ...</div>
    } @for (block of blocks; track block.id) {
    <div class="flex gap-2">
      <div class="w-full">
        @switch (block.type) { @case ('heading') { @if(currentEditing ===
        block.id){
        <app-input-group
          [(ngModel)]="block.content"
          name="heading"
          [id]="block.id"
          placeholder="Heading"
          variant="primary"
          type="textarea"
          class="text-xl md:text-2xl font-semibold font-heading mt-4"
        ></app-input-group>
        }@else{
        <h4 (click)="setEditing(block.id)" class="cursor-pointer mt-4">
          {{ block.content || "Heading" }}
        </h4>
        } } @case ('subheading') { @if(currentEditing === block.id){
        <app-input-group
          [(ngModel)]="block.content"
          name="subheading"
          [id]="block.id"
          placeholder="Subheading"
          variant="primary"
          type="textarea"
          class="text-xl font-heading mt-4"
        ></app-input-group>
        }@else{
        <h5 (click)="setEditing(block.id)" class="cursor-pointer mt-4">
          {{ block.content || "Sub-Heading" }}
        </h5>
        } } @case ('rich-text') { @if(currentEditing === block.id){

        <app-rich-text-input
          [(ngModel)]="block.content"
          variant="primary"
          class="font-serif my-3"
          [id]="block.id"
          placeholder="Write something..."
        ></app-rich-text-input>
        }@else{
        <div
          (click)="setEditing(block.id)"
          class="cursor-pointer font-serif my-3"
          [innerHTML]="block.content || 'Write something...'"
        ></div>
        } } @case ('code') { @if(currentEditing === block.id){
        <app-input-group
          [(ngModel)]="block.content"
          name="code"
          [id]="block.id"
          placeholder="Code block"
          variant="primary"
          type="textarea"
          class="font-mono my-3"
        ></app-input-group>
        }@else{
        <!-- prettier-ignore -->
        <code (click)="setEditing(block.id)" class="cursor-pointer code-block my-3">{{block.content || "Code block"}}</code>
        } } @case ('blockquote'){ @if(currentEditing===block.id){
        <div class="my-3 border-l-2 border-primary-dark px-4 py-2">
          <app-input-group
            [(ngModel)]="block.content"
            name="blockquote"
            [id]="block.id"
            placeholder="An inspiring quote..."
            variant="primary"
            type="textarea"
            class="text-lg font-heading"
          ></app-input-group>
        </div>
        }@else{
        <h6
          (click)="setEditing(block.id)"
          class="my-3 border-l-2 border-primary-dark px-4 py-2 cursor-pointer"
        >
          {{ block.content || "An inspiring quote ..." }}
        </h6>
        } } @case ('image') { @if(currentEditing === block.id){
        <app-image-input
          [defaultImageUrl]="block.content.url"
          [defaultImageCaption]="block.content.caption"
          [showCaption]="true"
          name="image"
          [id]="block.id"
          [onImageChange]="handleImageChange(block.id)"
          [onCaptionChange]="handleCaptionChange(block.id)"
          class="my-3"
        ></app-image-input>
        }@else{ @if(block.content){
        <div class="w-full flex flex-col gap-1 my-3">
          <img
            class="object-cover max-w-full cursor-pointer"
            [src]="block.content.url"
            [alt]="block.content.caption"
            (click)="setEditing(block.id)"
          />
          <span class="text-center">{{ block.content.caption }}</span>
        </div>
        }@else {
        <span
          (click)="setEditing(block.id)"
          class="cursor-pointer text-gray flex gap-2 my-3"
          ><fa-icon [icon]="faAdd" class="text-gray"></fa-icon>Add Image</span
        >
        } } }@case ('separator') {
        <div
          class="flex items-center justify-center gap-3 my-4 cursor-pointer"
          (click)="setEditing(block.id)"
        >
          @for(i of [0,1,2]; track i){
          <span class="text-gray text-sm">&#9679;</span>
          }
        </div>
        } }
      </div>
      @if(currentEditing === block.id){
      <div class="flex flex-col gap-2">
        <app-button classes="icon outline pill small" (click)="setEditing('')">
          <fa-icon [icon]="faOk" data-select="button-content"></fa-icon>
        </app-button>
        <app-button
          (click)="removeBlock(block.id)"
          [classes]="'icon outline pill small'"
          variant="danger"
        >
          <fa-icon [icon]="faTrash" data-select="button-content"></fa-icon>
        </app-button>
      </div>
      }
    </div>
    }
  </div>

  <!-- Collapsible Editor Toolbar at the Bottom -->
  <div
    class="editor-toolbar-container flex flex-col-reverse md:flex-row justify-between mt-12"
  >
    <div class="editor-toolbar flex gap-3 mb-4 mt-4 md:mt-0">
      @if( status === 'DRAFT' ){
      <app-button
        (click)="saveBlog(true)"
        variant="success"
        [disabled]="false"
        [classes]="'icon outline pill'"
        tooltip="Save Draft"
        ><span data-select="button-content" class="flex gap-2">
          <fa-icon [icon]="faSave" />
        </span>
        >
      </app-button>
      }
      <app-button
        (click)="saveBlog(false)"
        variant="success"
        [disabled]="false"
        [classes]="'icon outline pill'"
        tooltip="Publish"
        ><span data-select="button-content" class="flex gap-2">
          <fa-icon [icon]="faPublish" />
        </span>
        >
      </app-button>
    </div>
    <div class="editor-toolbar flex gap-3 mb-4">
      @if(showToolbar) {
      <app-button
        classes="icon outline"
        (click)="addBlock('heading')"
        tooltip="Heading"
      >
        <fa-icon data-select="button-content" [icon]="faHeading"></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('subheading')"
        tooltip="Subheading"
      >
        <fa-icon
          data-select="button-content"
          [icon]="faSubheading"
          [classes]="['text-sm']"
        ></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('rich-text')"
        tooltip="Rich Text"
      >
        <fa-icon data-select="button-content" [icon]="faRichText"></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('blockquote')"
        tooltip="Blockquote"
      >
        <fa-icon data-select="button-content" [icon]="faBlockQuote"></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('code')"
        tooltip="Codeblock"
      >
        <fa-icon data-select="button-content" [icon]="faCode"></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('image')"
        tooltip="Image"
      >
        <fa-icon data-select="button-content" [icon]="faImage"></fa-icon>
      </app-button>
      <app-button
        classes="icon outline"
        (click)="addBlock('separator')"
        tooltip="Separator"
      >
        <fa-icon data-select="button-content" [icon]="faSeparator"></fa-icon>
      </app-button>
      }
      <app-button
        classes="toolbar-toggle icon pill"
        (click)="showToolbar = !showToolbar"
        [tooltip]="showToolbar ? 'Close' : 'Add Element'"
      >
        <fa-icon
          data-select="button-content"
          [icon]="showToolbar ? faHide : faShow"
        ></fa-icon>
      </app-button>
    </div>
  </div>
</div>
