::ng-deep .NgxEditor__Content {
  min-height: 48px;
  padding: 1rem;
  color: var(--text);
  transition: height 0.2s ease-in-out;
  overflow-y: auto !important;
  font-family: inherit !important;
}

:host ::ng-deep .ql-container {
  min-height: 120px;
  border-radius: 0 0 0.125rem 0.125rem;
  border: 1px solid var(--primary-dark);
  font-family: inherit;
  font-size: inherit !important;
}

:host ::ng-deep .ql-toolbar {
  border-radius: 0.125rem 0.125rem 0 0;
  border: 1px solid var(--primary-dark);
  border-bottom: none;
  background: var(--white);
}

:host ::ng-deep .input-group.danger .ql-container,
:host ::ng-deep .input-group.danger .ql-toolbar {
  border-color: var(--danger) !important;
}

:host ::ng-deep .input-group.success .ql-container,
:host ::ng-deep .input-group.success .ql-toolbar {
  border-color: var(--success) !important;
}

.input-group.danger label,
.input-group.danger .hint {
  color: var(--danger) !important;
}

.input-group.success label,
.input-group.success .hint {
  color: var(--success) !important;
}

:host ::ng-deep .focussed .ql-container,
:host ::ng-deep .focussed .ql-toolbar {
  border-width: 3px;
}

:host ::ng-deep .ql-container.ql-disabled {
  background: var(--color-surface-muted);
  opacity: 0.5;
}

/* Disabled state */
::ng-deep .NgxEditor[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
