<div class="input-group" [attr.data-variant]="variant" data-focus="true">
  <label *ngIf="label" [for]="id">{{ label }}</label>
  <div class="editor-container">
    <quill-editor
      #quillEditor
      [id]="id"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      [readOnly]="disabled"
      (ngModelChange)="onContentChange($event)"
      (onEditorCreated)="focus()"
      [modules]="quillModules"
      [style]="{ minHeight: '20px' }"
      (onFocus)="focussed = true"
      (onBlur)="focussed = false"
      [ngClass]="focussed ? 'focussed' : ''"
    ></quill-editor>
  </div>
  <small *ngIf="hint" class="hint">{{ hint }}</small>
</div>
