<div class="flex flex-col gap-1 input-group">
  <label [for]="id" class="input-group-label {{ variant }}">{{ label }}</label>
  <div class="input-group-input {{ variant }}">
    <ng-content select="[data-select=input-group-input-left-icon]"></ng-content>

    @switch (type) { @case ('textarea') {
    <textarea
      [id]="id"
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (input)="onChange($event)"
      [rows]="5"
      >{{ value }}</textarea
    >

    } @default {
    <input
      [type]="type"
      [id]="id"
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onChange($event)"
    />

    }}
    <ng-content
      select="[data-select=input-group-input-right-icon]"
    ></ng-content>
  </div>
  <span class="input-group-hint {{ variant }} whitespace-pre">{{ hint }}</span>
</div>
