@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #023047;
  --primary: #219ebc;
  --primary-light: #8ecae6;
  --secondary: #fb8500;
  --secondary-light: #ffb703;
  --success: #386641;
  --danger: #bc4749;
  --white: #fffffc;
  --gray: #4a555b;
  --gray-50: #f4f4f6;
  --border: #c4c4c6;
  --black: #01161e;
}

*,
.font-sans {
  font-family: "IBM Plex Sans", ui-sans, sans;
}

ol,
ul {
  list-style: revert;
  margin: 0.5rem 1rem;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.font-heading * {
  font-family: "Roboto", ui-sans, sans;
}

.font-serif,
.font-serif * {
  font-family: "Merriweather", ui-serif, serif;
}

code,
.font-mono,
.font-mono * {
  font-family: "Source Code Pro", ui-monospace, monospace;
}

.hljs * {
  @apply text-black !font-mono;
}

*:not(svg):not(svg *) {
  @apply text-black bg-transparent break-words transition-all;
}

button *,
.badge *,
.input-group * {
  @apply !text-inherit;
}

*:disabled {
  @apply !cursor-not-allowed;
}

a {
  @apply text-primary-dark  underline underline-offset-4 cursor-pointer;
}

a:hover,
a:focus {
  @apply text-primary;
}

hr,
.border-b,
.border-t {
  @apply border-border;
}

h6 {
  @apply text-lg;
}

h5 {
  @apply text-xl;
}

h4 {
  @apply text-xl md:text-2xl font-semibold;
}

h3 {
  @apply text-2xl md:text-3xl font-semibold;
}

h2 {
  @apply text-3xl md:text-5xl font-semibold;
}

h1 {
  @apply text-5xl md:text-9xl font-bold;
}

dialog {
  @apply backdrop:bg-black backdrop:opacity-65 !bg-white border-primary-dark p-6 rounded-md w-max shadow-md;
}

.select-selected {
  @apply flex gap-2 items-center my-2 flex-wrap capitalize;
}

.select-selected-item {
  @apply !bg-gray-50 text-black text-sm font-semibold px-2 py-1 rounded;
}

.blog-status-badge {
  @apply text-xs font-semibold text-white px-3 py-1 mt-2 rounded-full lowercase flex items-center gap-1;
}

.blog-status-badge.DRAFT {
  @apply bg-primary;
}

.blog-status-badge.PUBLISHED {
  @apply bg-success;
}

.blog-status-badge.ARCHIVED {
  @apply bg-danger;
}
