<div class="account-container">
  @if(showUpdateView){
  <div class="w-full flex flex-col gap-4">
    <app-image-input
      label="Avatar"
      [defaultImageUrl]="avatarImageUrl"
      [onImageChange]="handleAvatarChange"
      [square]="true"
    />

    <app-input-group
      type="text"
      label="Name"
      placeholder="John Doe"
      name="displayName"
      [value]="updatedAccount().displayName ?? ''"
      [onChange]="handleNameChange"
      [hint]="nameHint"
      [variant]="nameVariant"
    />

    <app-input-group
      type="textarea"
      label="About You"
      placeholder="Write about your hobbies, interests and expertise ..."
      name="about"
      [value]="updatedAccount().about ?? ''"
      [onChange]="handleAboutChange"
      [hint]="aboutHint"
      [variant]="aboutVariant"
    />

    <div
      class="flex flex-col md:flex-row gap-2 border-t border-primary-dark pt-4"
    >
      <div class="md:w-1/2 flex flex-col">
        <app-button
          (click)="toggleUpdateView()"
          variant="danger"
          [type]="'button'"
          [disabled]="isEditing"
        >
          <span data-select="button-content" class="flex gap-2">
            <fa-icon [icon]="faClose" />
            Cancel</span
          >
        </app-button>
      </div>
      <div class="md:w-1/2 flex flex-col">
        <app-button
          [type]="'submit'"
          (click)="updateAccount()"
          variant="success"
          [disabled]="
            aboutVariant === 'danger' || nameVariant === 'danger' || isEditing
          "
          ><span data-select="button-content" class="flex gap-2">
            <fa-icon [icon]="faSave" />
            Save Changes</span
          >
        </app-button>
      </div>
    </div>
  </div>
  }@else{
  <div
    class="flex flex-col items-center w-full md:flex-row md:justify-between gap-8"
  >
    <div class="flex items-center gap-2 flex-shrink-0">
      <app-avatar
        [size]="80"
        [username]="user()?.username ?? 'X'"
        [image]="user()?.avatar"
      ></app-avatar>
      <div class="flex flex-col items-start justify-start">
        <span class="text-lg font-semibold"
          >{{ user()?.displayName ?? "Anonymous" }}
        </span>
        <span class="font-light">{{ user()?.username }} </span>
        <p class="flex gap-1">
          {{ user()?.email ?? "N/A" }}
          <span>
            @if(!user()?.emailVerified){
            <fa-icon [icon]="faWarning" class="text-danger"></fa-icon>
            }@else{
            <fa-icon [icon]="faVerified" class="text-success"></fa-icon>}
          </span>
        </p>
        @if(!user()?.emailVerified){
        <a href="/verify-email">Verify Email</a>
        }
      </div>
    </div>
    <div class="grid grid-cols-3 items-center text-center flex-shrink-0">
      <div>
        <h3>{{ user()?.blogs }}</h3>
        <span class="text-sm">Blogs</span>
      </div>
      <div class="border-x px-3 border-x-primary-dark-50">
        <h3>{{ user()?.followers }}</h3>
        <span class="text-sm">Followers</span>
      </div>
      <div>
        <h3>{{ user()?.following }}</h3>
        <span class="text-sm">Following</span>
      </div>
    </div>
  </div>

  <p>
    {{
      user()?.about || "Update your profile to include something about yourself"
    }}
  </p>

  <div
    class="flex flex-col w-full md:grid md:grid-cols-3 gap-3 pt-4 border-t border-primary-dark"
  >
    <app-button variant="primary" (click)="toggleUpdateView()">
      <span data-select="button-content" class="flex gap-4 w-full">
        <fa-icon [icon]="faEditIcon" />
        Update Profile</span
      >
    </app-button>
    <app-button variant="danger" (click)="logout()">
      <span data-select="button-content" class="flex gap-4 w-full">
        <fa-icon [icon]="faLogout"></fa-icon>
        Logout
      </span>
    </app-button>
    <app-button variant="danger" (click)="openAccountDeleteDialog()">
      <span data-select="button-content" class="flex gap-4 w-full">
        <fa-icon [icon]="faDeleteIcon" />
        Delete Account
      </span>
    </app-button>
  </div>
  }
</div>

<!-- Account Delete Dialog -->
<dialog #accountDeleteDialog>
  <div class="flex flex-col gap-4 p-4 max-w-md">
    <h5>Delete Account</h5>
    <hr />
    <p>
      Once you delete your account, you won't be able to log in again. Are you
      sure you want to proceed?
    </p>
    <div class="text-sm">
      <p>All your blogs will be deleted too.</p>
      <p>Your account can not be restored after 30 days of deletion.</p>
    </div>
    <hr />
    <div class="flex justify-between">
      <app-button
        variant="primary"
        (click)="closeAccountDeleteDialog()"
        [disabled]="isEditing"
      >
        <span data-select="button-content"> Cancel </span>
      </app-button>
      <app-button
        variant="danger"
        (click)="deleteAccount()"
        [disabled]="isEditing"
      >
        <span data-select="button-content"> Confirm </span>
      </app-button>
    </div>
  </div>
</dialog>
